body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('assets/header_unfocus.png');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 160px 0;
    text-align: center;
    transition: background-position 0.8s;
    position: relative;
}

header img#corner-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.social-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.social-icons a {
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border: none;
}

.content {
    padding: 20px;
}

.section {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.section.reveal {
    opacity: 1;
    transform: translateY(0);
}

html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

	.slick-prev {
		left: 450px; /* Adjust the distance from the left edge */
	}

	.slick-next {
		right: 450px; /* Adjust the distance from the right edge */
	}
